* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(to right, #a517ba, #5f17) ;
    padding: 0  !important;

}

.navbar-brand  {
    font-size: 34px !important;
    font-weight: 700 !important;
    color: #fff !important;
}


.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff  !important;
    font-weight: 600;
    font-size: 18px;
    float: right;
    text-align: left;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
}

.navbar-nav li a:hover {
    color: rgb(7, 99, 236) !important;
    border-bottom: 1px solid rgb(7, 99, 236);
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* banner aria */

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f17);
    color: white;
    height: 500px;
}

.promo-title {
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;
}

.promo-content {
    font-size: 18px;
    font-weight: 500;   
}

.linked {
    text-decoration: none;
    color: #fff ;
}

.linked:hover {
    color: red;
    text-decoration: none;
}

.wavei {
    width: 100%;
}