* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(to right, #a517ba, #5f17) ;
    padding: 0  !important;

}

.navbar-brand  {
    font-size: 34px !important;
    font-weight: 700 !important;
    color: #fff !important;
}


.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff  !important;
    font-weight: 600;
    font-size: 18px;
    float: right;
    text-align: left;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
}

.navbar-nav li a:hover {
    color: rgb(7, 99, 236) !important;
    border-bottom: 1px solid rgb(7, 99, 236);
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* banner aria */

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f17);
    color: white;
    height: 500px;
}

.promo-title {
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;
}

.promo-content {
    font-size: 18px;
    font-weight: 500;   
}

.linked {
    text-decoration: none;
    color: #fff ;
}

.linked:hover {
    color: red;
    text-decoration: none;
}

.wavei {
    width: 100%;
}

/* service section */

.title {
    margin-bottom: 60px;
}

.title::before {
    content: '';
    height: 5px;
    width: 200px;
    background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(63px);
}

.title::after {
    content: '';
    height: 10px;
    width: 50px;
   background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(8px);
}

.services 
{
    padding: 20px;
}


.service-image 
{
    padding-top: 20px;
}

#services 
{
    padding: 80px 0;
    background-color: grey;
    border-radius: 20px 20px 20px 20px;
    border: gray;
    margin: 10px;
    margin-top: 25px;
}
.card {
    background-color: rgba(12, 10, 10, 0.603) !important;
    border-radius: 20px;
    margin-bottom: 30px;
}

.card:hover {
    transition: 0.5s;
    transform: translateY(-10px);
}

.btn-primary {
    background-image:linear-gradient(to right, #a517ba, #5f17) !important;
    border-radius: 20px;
    padding: 5px;
}
